<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>LOGIN</h1>

        <p>
        <form action="/members" method="post">
            <div class="form-group">
                <label for="id">ID :</label>
                <input type="text" id="id" name="id" placeholder="write..."><br>
                <label for="pw">PW :</label>
                <input type="text" id="pw" name="pw" placeholder="write..."><br>
               <button> submit</button><br>
            </div>

        </form>
        <a href="/members/new">JOIN </a>
        </p>


    </div>
</div> <!-- /container -->
</body>
</html>