<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lan="kor">
<body>

<div class="container">

    <form action="/members/new" method="post">
        <div class="form-group">
            <p>회원가입</p>
            <label for="id">ID: </label>
            <input type="text" id="id" name="name" placeholder="ID를 입력하세요" autofocus>
            <br>
            <label for="pw">PW: </label>
            <input type="text" id="pw" name="password" placeholder="비밀번호를 입력하세요" autocomplete="off">
        </div>
        <button type="submit">등록</button>
    </form>
</div>
</body>
</html>
