<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/members/new" method="post">
        <div class="form-group">
            <h1>join!</h1>
            <label for="id">ID :</label>
            <input type="text" id="id" name="id" placeholder="write..."><br>
            <label for="pw">PW :</label>
            <input type="text" id="pw" name="pw" placeholder="write..."><br>

        </div>
        <button type="submit">submit</button>
    </form>
</div> <!-- /container -->
</body>
</html>