<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입</h1>
    <form action="/members" method="post">
        <div class="signUp">
            <input type="text" id="id" name="id" placeholder="ID을 입력하세요"><br>
            <input type="text" id="pw" name="pw" placeholder="PW을 입력하세요"><br>
            <input type="text" id="pw_check" name="pw_check" placeholder="PW을 다시 입력하세요">
            <button type="submit" id="login" name="login">SignUp</button>
        </div>
    </form>
</body>
</html>