<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>Write anything!</h1>

        <p>
        <form action="/members/new" method="post">
            <div class="form-group">
                <label for="name">write what you want!</label>
                <input type="text" id="name" name="name" placeholder="write...">
                <button type="submit">submit</button>
            </div>
        <a href="/members">What did I write? </a>
        </form>
        </p>


    </div>
</div> <!-- /container -->
</body>
</html>





